@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

@keyframes notification {
  /* 0% {
    top: -80px;
  } */
  25% {
    top: 80px;
  }
  75% {
    top: 80px;
  }
  /* 100% {
    top: -80px;
  } */
}
