@import url("/css/variables.css");
@import url("/css/keyframes.css");

@import url("/css/module/array.css");
@import url("/css/module/queue.css");
@import url("/css/module/stack.css");
@import url("/css/module/linkedlist.css");
@import url("/css/module/hashtable.css");
@import url("/css/module/tree.css");
@import url("/css/module/heap.css");

html {
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header */

header {
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 9999;
}
header nav {
  height: 100%;
  background-color: var(--header-background-color);
}

header ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  align-items: stretch;
}

header li {
  list-style: none;
}

header li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 10px 20px;
  color: var(--header-menu-text-color);
  background-color: var(--header-menu-background-color-normal);
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5rem;
}

header li a:hover {
  background-color: var(--header-menu-background-color-hover);
}

header li a:active {
  color: none;
}

header li a:visited {
  color: none;
}

header li a.selectedModule {
  background-color: var(--header-menu-background-color-selected);
}

/* main */

main.content {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

main div.module-container {
  background-color: var(--content-background-normal);
  width: 100%;
}

/* */
article {
  position: fixed;
  top: 80px;
  left: calc(100vw / 2 - 200px / 2);
  width: 200px;
  height: 120px;
  background-color: blanchedalmond;
  text-align: center;
  display: none;
}

/* input */

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

input[type="number"] {
  outline: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="submit"] {
  background-color: var(--input-submit-normal);
  text-transform: uppercase;
  border: none;
  margin-left: 15px;
  cursor: pointer;
  color: white;
  /* font-family: "Lucida Console"; */
}

input[type="submit"]:hover {
  background-color: var(--input-submit-hover);
}

input[type="submit"]:active {
  background-color: var(--input-submit-active);
}

input[type="submit"].insert {
  background-color: var(--btn-insert-normal);
}

input[type="submit"].insert:hover {
  background-color: var(--btn-insert-hover);
}

input[type="submit"].insert:active {
  background-color: var(--btn-insert-active);
}

input[type="submit"].search {
  background-color: var(--btn-search-normal);
}

input[type="submit"].search:hover {
  background-color: var(--btn-search-hover);
}

input[type="submit"].search:active {
  background-color: var(--btn-search-active);
}

input[type="submit"].delete {
  background-color: var(--btn-delete-normal);
}

input[type="submit"].delete:hover {
  background-color: var(--btn-delete-hover);
}

input[type="submit"].delete:active {
  background-color: var(--btn-delete-active);
}

/* control */
.content-control {
  background-color: var(--contoller-background-color);
  position: absolute;
}

.content-control div {
  padding: 0px 10px;
  margin-bottom: 10px;
  position: relative;
}

.content-control div.toolbar {
  height: 20px;
  background-color: var(--toolbar-background-normal);
}

.content-control div form {
  display: flex;
  /* justify-content: right; */
  margin-bottom: 5px;
}

/* value content */
.value-content {
  width: 2em;
  height: 2em;
  border: 2px solid var(--value-border-normal);
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 50%;
  box-sizing: border-box;
}

.value-content::before {
  content: attr(data-value);
}

.value-content.rectangle {
}
