@import url("/css/module/array.css");
@import url("/css/module/queue.css");
@import url("/css/module/stack.css");
@import url("/css/module/linkedlist.css");
@import url("/css/module/hashtable.css");
@import url("/css/module/tree.css");
@import url("/css/module/heap.css");

:root {
  --controller-width: 200px;
  --linkedlist-content-width: 60px;
  --linkedlist-content-height: var(--linkedlist-content-width);
}

html {
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header */

header {
  position: sticky;
  height: 60px;
  top: 0;
  z-index: 9999;
}
header nav {
  height: 100%;
}

header ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: right;
  align-items: stretch;
}

header li {
  list-style: none;
}

header li a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 10px 20px;
  color: white;
  background-color: slateblue;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5rem;
}

header li a:hover {
  background-color: bisque;
}

header li a:active {
  color: none;
}

header li a:visited {
  color: none;
}

header li a.selectedModule {
  background-color: chocolate;
}

/* main */

main {
  background-color: antiquewhite;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  background-color: aquamarine;
  width: 100%;
}

/* controller */
article {
  background-color: aqua;
  width: var(--controller-width);
  position: absolute;
  z-index: 9999;
}

article li {
  list-style: none;
}

article li span {
  display: block;
  background-color: darkcyan;
}

article li span.control-abled {
  cursor: pointer;
}

article li span.control-disabled {
  opacity: 0.5;
  cursor: text;
}

/* module */
section div.module-container {
  width: 100%;
  height: 100%;
  position: relative;
}
