@import url("/css/module/array.css");
@import url("/css/module/queue.css");
@import url("/css/module/stack.css");
@import url("/css/module/linkedlist.css");
@import url("/css/module/hashtable.css");

:root {
  --controller-width: 200px;
  --linkedlist-content-width: 60px;
  --linkedlist-content-height: var(--linkedlist-content-width);
}

html {
  padding: 0;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* header */

header {
  position: sticky;
  height: 40px;
  top: 0;
}
header nav {
  height: 100%;
}

header ul {
  margin: 0;
  padding: 0;
  display: flex;
}

header li {
  list-style: none;
  margin-right: 10px;
}

/* main */

main {
  background-color: antiquewhite;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}

section {
  background-color: aquamarine;
  width: 100%;
}

/* controller */
article {
  background-color: aqua;
  width: var(--controller-width);
  position: absolute;
  z-index: 9999;
}

article li {
  list-style: none;
}

article li span {
  display: block;
  background-color: darkcyan;
}

article li span.control-abled {
  cursor: pointer;
}

article li span.control-disabled {
  opacity: 0.5;
  cursor: text;
}

/* module */
section div.module-container {
  width: 100%;
  height: 100%;
  position: relative;
}
