:root {
  /* header */
  --header-background-color: white;
  --header-menu-background-color-normal: slateblue;
  --header-menu-background-color-hover: bisque;
  --header-menu-background-color-selected: chocolate;
  --header-menu-text-color: white;

  /* background */
  --content-background-normal: aquamarine;
  --content-background-second: brown;
  --content-background-third: darkgray;
  --content-background-fourth: coral;

  /* content */
  --value-background-normal: darksalmon;

  --value-border-normal: khaki;
  --value-border-selected: lightsalmon;
  --value-border-active: yellow;

  /* border */
  --content-border-normal: black;

  /* input */
  --input-submit-normal: aqua;
  --input-submit-hover: blanchedalmond;
  --input-submit-active: blueviolet;

  /* button */
  --btn-insert-normal: blue;
  --btn-search-normal: gray;
  --btn-delete-normal: red;

  --btn-insert-hover: blue;
  --btn-search-hover: gray;
  --btn-delete-hover: red;

  --btn-insert-active: blue;
  --btn-search-active: gray;
  --btn-delete-active: red;

  /* divider */
  --divider-color: tomato;
  --divider-from-color: teal;
  --divider-to-color: red;

  /* controller */
  --contoller-background-color: tomato;
  --toolbar-background-normal: blue;

  --controller-width: 200px;
  --linkedlist-content-width: 60px;
  --linkedlist-content-height: var(--linkedlist-content-width);
}
