:root {
  /* header */
  --header-background-color: #2c3e50;
  --header-menu-background-color-normal: #5218fa;
  --header-menu-background-color-hover: #b87700;
  --header-menu-background-color-selected: #ffb01f;
  --header-menu-text-color: #f8f4ff;

  /* background */
  --content-background-first: #e5e4e2;
  --content-background-second: #c0c0c0;
  --content-background-third: #cfcfc4;
  --content-background-fourth: #c4aead;
  --content-background-fifth: #d3d3d3;

  /* content */
  --value-background-normal: #ffb300;

  --value-border-normal: #333333;
  --value-border-search: #3cb371;
  --value-border-selected: #e32636;
  --value-border-active: #fdff00;
  --value-border-delete: red;
  --value-border-change: violet;

  --value-border-insert: crimson;

  /* input */
  --input-submit-normal: aqua;
  --input-submit-hover: blanchedalmond;
  --input-submit-active: blueviolet;

  /* button */
  --btn-search-normal: #a8a8a8;
  --btn-search-hover: #8f8f8f;
  --btn-search-active: #4a4a4a;

  --btn-insert-normal: #5252ff;
  --btn-insert-hover: #1f1fff;
  --btn-insert-active: #000094;

  --btn-delete-normal: #ff5252;
  --btn-delete-hover: #ff1f1f;
  --btn-delete-active: #940000;

  /* divider */
  --divider-color: tomato;
  --divider-from-color: teal;
  --divider-to-color: red;

  /* controller */
  --contoller-background-color: #f28500;
  --toolbar-background-normal: #0000cd;

  /* notification */
  --notification-background-normal: #138808;
  --notification-border-normal: #138808;

  --notification-background-warning: #ff8c00;
  --notification-border-warning: #ff8c00;

  --notification-background-error: #ed2939;
  --notification-border-error: #ed2939;
}
