.module-container div.module-container__control-array {
  background-color: tomato;
  position: absolute;
  left: var(--controller-width);
  padding: 10px;
}

.module-container div.module-container__content-array {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  padding: 80px 20px 20px 20px;
  box-sizing: border-box;
  gap: 15px 15px;
}

.module-container div.module-container__content-array div {
  text-align: center;
  padding: 20px;
  border: 2px solid black;
  width: 130px;
  box-sizing: border-box;
}

.module-container div.module-container__content-array div:active {
  border-color: yellow;
}

.module-container__content-array span {
  display: block;
  padding: 15px;
}

.module-container__content-array span:first-child {
  border-bottom: 2px solid tomato;
}

.module-container__content-array span:last-child {
  font-size: 24px;
  font-weight: bold;
}
