div.module-container__content-hashtable {
  display: flex;
  height: 100%;
  flex-direction: column;
}

div.module-container__content-hashtable {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div.module-container__content-hashtable section {
  flex-basis: 120px;
  background-color: var(--content-background-second);
  padding: 15px;
  box-sizing: border-box;
  display: flex;
}

div.module-container__content-hashtable section:nth-child(2n) {
  background-color: var(--content-background-third);
}

div.module-container__content-hashtable section > div:first-child {
  background-color: var(--content-background-fourth);
  width: 200px;
}
div.module-container__content-hashtable section > div:last-child {
  background-color: var(--content-background-fifth);
  margin-left: 20px;
  width: 100%;
}

div.module-container__content-hashtable section > div {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
}

div.module-container__content-hashtable section > div:first-child {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

div.module-container__content-hashtable section > div:first-child.selectedKey {
  border: 5px solid var(--value-border-active);
}

div.module-container__content-hashtable section > div:last-child::before {
  content: "[";
  margin-right: 10px;
}

div.module-container__content-hashtable section > div:last-child::after {
  content: "]";
}

.valueArrays div {
  margin-right: 10px;
  box-sizing: border-box;
  border: 5px solid var(--value-border-normal);
}

.valueArrays div.searchValue {
  border: 5px solid var(--value-border-selected);
}

.valueArrays div h3,
.valueArrays div h1 {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
