div.module-container__content-heap {
  display: flex;
  height: 100%;
  flex-direction: column;
}

svg.module-container__canvas-heap {
  width: 100%;
  height: 100%;
  position: absolute;
}

div.module-container__content-heap div.heap__row-container {
  width: 100%;
  height: 5em;
  display: flex;
}

div.module-container__content-heap div.heap__column-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.module-container__content-heap div.heap__column-container div {
  border-radius: 50%;
}
