div.module-container__content-linkedlist {
  width: 100%;
  height: 100%;
  position: relative;
}

.module-container svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

.value-content.linkedlist__content-value {
  position: absolute;
  cursor: pointer;
  border-radius: 0;
  border-width: 5px;
  background-color: var(--value-background-normal);
  z-index: 999;
}

.value-content.linkedlist__content-value.selected {
  border-color: var(--value-border-selected);
}

.value-content.linkedlist__content-value input[type="button"] {
  display: none;
}

.value-content.linkedlist__content-value.selected input[type="button"] {
  display: flex;
  position: absolute;
  top: -27px;
  font-size: 8px;
  left: -10px;
}

.value-content.linkedlist__content-value.selected
  input[type="button"]:first-child {
  left: -60px;
}
.value-content.linkedlist__content-value.selected
  input[type="button"]:last-child {
  left: 32px;
}

linearGradient > stop:first-child {
  stop-color: var(--divider-from-color);
}

linearGradient > stop:last-child {
  stop-color: var(--divider-to-color);
}
