@keyframes blink-effect {
  50% {
    opacity: 0;
  }
}

.module-container div.module-container__content-stack {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}

.module-container div.module-container__content-stack div.content-stack {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content-stack__left {
  background-color: coral;
}

.content-stack__left .stack__content-value {
  animation: blink-effect 1s step-end infinite;
}

.content-stack__center {
  background-color: brown;
  gap: 15px 15px;
}

.content-stack__center .stack__content-value.pop-value {
  animation: blink-effect 1s step-end infinite;
}

.content-stack__right {
  background-color: darkgray;
}

.stack__content-value {
  width: 5em;
  height: 2em;
  border: 2px solid black;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
}
