div.module-container__content-tree {
  display: flex;
  height: 100%;
  flex-direction: column;
}

svg.module-container__canvas-tree {
  width: 100%;
  height: 100%;
  position: absolute;
}

div.module-container__content-tree div.tree__row-container {
  width: 100%;
  height: 5em;
  display: flex;
}

div.module-container__content-tree div.tree__column-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
